/* Loosely based on pygment's default colors */
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; }
td.lineNumbers { border-right: 1px solid #AAAAAA; text-align: right; color: #AAAAAA; padding-right: 5px; padding-left: 5px; }
td.sourceCode { padding-left: 5px; }
pre.sourceCode { }
pre.sourceCode span.kw { color: #007020; font-weight: bold; }
pre.sourceCode span.dt { color: #902000; }
pre.sourceCode span.dv { color: #40a070; }
pre.sourceCode span.bn { color: #40a070; }
pre.sourceCode span.fl { color: #40a070; }
pre.sourceCode span.ch { color: #4070a0; }
pre.sourceCode span.st { color: #4070a0; }
pre.sourceCode span.co { color: #60a0b0; font-style: italic; }
pre.sourceCode span.ot { color: #007020; }
pre.sourceCode span.al { color: red; font-weight: bold; }
pre.sourceCode span.fu { color: #06287e; }
pre.sourceCode span.re { }
pre.sourceCode span.er { color: red; font-weight: bold; }

#content {
  max-width: 800px;
  margin: 0 auto;
}

/* Display in IE6-9 and FF3 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/* Display block in IE6-9 and FF3 */

audio,
canvas,
video {
  display: inline-block;
}

/* Prevents modern browsers from displaying 'audio' without controls */

audio:not([controls]) {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

/* Focus states */

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* Hover & Active */

a:hover,
a:active {
  outline: 0;
}

/* Prevents sub and sup affecting line-height in all browsers */

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Img border in a's and image quality */

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

body {
  margin: 0;
  padding-bottom: 5em;
  overflow: scroll;
  font-family: "Whitney HTF", "Lucida Grande", "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: #444444;
  background-color: #fff;
  -webkit-overflow-scrolling: touch;
     -moz-overflow-scrolling: touch;
      -ms-overflow-scrolling: touch;
       -o-overflow-scrolling: touch;
          overflow-scrolling: touch;
}

a {
  display: inline-block;
  padding: 1px 2px;
  color: #1166bb;
}

a:hover,
a:focus {
  color: #eee;
  text-decoration: none;
  background-color: #333;
  border-radius: 3px;
}

pre {
  display: block;
  color: #000;
  padding: 8px;
  white-space: pre;
  border: 1px solid #E5E5E5;
  background-color: #F7F7F7;
  -webkit-font-smoothing: auto;
}

code {
  display: inline-block;
  color: #000;
  padding: 0 3px;
  white-space: nowrap;
  border: 1px solid #E5E5E5;
  background-color: #F7F7F7;
  -webkit-font-smoothing: auto;
  font-size: 0.9em;
}

img {
  display: inline-block;
}

img.block {
  display: block;
}

a.img {
  display: inline-block;
}

a.img img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 1em 0 0.2em 0;
  margin: 0;
  font-family: "Whitney HTF", "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-weight: bold;
  color: #333333;
  text-rendering: optimizeLegibility;
}

h1 {
  /*font-size: 28px;*/
  font-size: 40px;
  line-height: 1.2em;
  letter-spacing: -1px;
  border-bottom: 1px solid #333;
  font-family: "Sentinel", "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
}

h1 small {
  font-size: 22px;
}

h2 {
  /*font-size: 22px;*/
  font-size: 32px;
  line-height: 1.3em;
  border-bottom: 1px dotted #ccc;
  font-family: "Sentinel", "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
}

h2 small {
  font-size: 18px;
}

h3 {
  /*font-size: 18px;*/
  font-size: 24px;
  line-height: 1.4em;
  padding-bottom: 0;
}

h3 small {
  font-size: 14px;
}

h4 {
  font-size: 14px;
  line-height: 1.5em;
  padding-top: 0;
  color: #666;
}

h4 small {
  font-size: 12px;
}

h5 {
  font-size: 12px;
  line-height: 1.5em;
}

ul,
ol {
  padding: 0;
  margin: 0 0 0.75em 25px;
}

h4 ~ ul {
  padding: 1em 0 0.2em 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

li {
  line-height: 1.5em;
}

li h1,
li h2,
li h3,
li h4,
li h5 {
  padding-bottom: 0;
}

dl {
  margin-bottom: 1.5em;
}

dt,
dd {
  line-height: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0.75em;
}

hr {
  margin: 1.5em 0;
  border: 0;
  border-top: 1px dotted #cccccc;
  border-bottom: 1px dotted #ffffff;
}

abbr {
  cursor: help;
  border-bottom: 1px dotted #e0e0e0;
}

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 1.5em;
  border-left: 5px solid #eeeeee;
}

blockquote p {
  margin-bottom: 0;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.875em;
}

blockquote small {
  display: block;
  line-height: 1.5em;
  color: #999999;
}

blockquote small:before {
  content: '\2014 \00A0';
}

blockquote:before,
blockquote:after {
  content: "";
}

q:before {
  content: "\201C";
}

q:after {
  content: "\201D";
}

form {
  margin: 0 0 1.5em 0;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 1.5em;
  font-size: 18px;
  line-height: 1.5em;
  color: #444444;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

legend small {
  font-size: 12px;
  color: #999999;
}

label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5em;
}

input,
button,
select,
textarea {
  font-family: "Lucida Grande", "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
}

label {
  display: block;
  margin-bottom: 5px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  padding: 4px 6px;
  margin-bottom: 0.75em;
  font-size: 14px;
  line-height: 1.5em;
  color: #666666;
  vertical-align: middle;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

input,
textarea,
.uneditable-input {
  width: 206px;
}

textarea {
  height: auto;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #fcfcfc;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s, background-color linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s, background-color linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s, background-color linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s, background-color linear 0.2s;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  background-color: #ffffff;
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="search"] {
    padding-right: 0;
  }
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
  }
  input[type="search"]::-webkit-search-results-button {
    -webkit-appearance: searchfield-results-button;
  }
  input[type="search"][results] {
    padding-left: 0;
  }
}

input[type="password"] {
  -webkit-appearance: caps-lock-indicator;
     -moz-appearance: caps-lock-indicator;
      -ms-appearance: caps-lock-indicator;
       -o-appearance: caps-lock-indicator;
          appearance: caps-lock-indicator;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  /* IE8-9 */

  line-height: normal;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

select {
  width: 220px;
  background-color: #fcfcfc;
  border: 1px solid #cccccc;
}

select[multiple],
select[size] {
  height: auto;
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

table {
  max-width: 100%;
  margin: 1em 0;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ccc;
}

table tr th,
table tr td {
  border: 1px solid #ccc;
  padding: 10px;
}

table tr th {
  background-color: #ccc;
}
