{{ define "accomplishments" -}}
## Groups and Accomplishments

* Voting Representative for AWS, [PHP Framework Interoperability Group][PHP-FIG] (2012–2013)
* U.S. Patent filing, [“Hive-based Peer-to-Peer Network”][US8103870B2] (US8103870B2)
* U.S. Patent filing, [“System and Methods for User Authentication across Multiple Domains”][US15042104] (US15042104)

{{- end }}
