{{ define "blurb" -}}
**Cloud-native engineering leader with a focus on reliability, scalability, and security for the modern web.**

**Most-Recently:** Principal Engineer, Cloud Center of Excellence at McGraw Hill.
{{- end }}
