{{ define "blurb" -}}
{{ if .IsEM -}}
**Cloud Engineering Leader • Innovator • Problem Solver; looking to pivot into engineering management roles.**

{{ else if .IsTPM -}}
**Cloud Engineering Leader • Innovator • Problem Solver; looking to pivot into project, product, and program management roles.**

{{ else -}}
**Cloud Engineering Leader • Innovator • Problem Solver; looking for roles in technical leadership.**

{{- end -}}
{{- end }}
