{{ define "education" -}}
## Education

Obtained a **Bachelor of Arts** degree in _Design and Visualization_ from _Silicon Valley College_ (now [Carrington College]) in San Jose, CA.

Graduated in _November 2003_ with a **3.84** GPA.

{{- end }}
