{{ define "education" -}}
## Education

### Silicon Valley College (now [Carrington College](http://carrington.edu/schools/san-jose-california/)) — San Jose, CA

#### Bachelor of Arts, Design and Visualization (November 2003)

* GPA: 3.84
{{- end }}
