{{ define "exp-aws" -}}
### [Amazon Web Services] — Seattle, WA

> Amazon Web Services provides on-demand cloud computing platforms and APIs to individuals, companies, and governments, on a metered, pay-as-you-go basis.

{{ template "role-aws-wde2" . }}

{{- end }}
