{{ define "exp-mcgraw-hill" -}}
### [McGraw Hill] — Remote (since COVID), previously Seattle, WA

{{ template "role-mcgraw-hill-architecture" . }}

{{ template "role-mcgraw-hill-cloud" . }}

{{ template "role-mcgraw-hill-sre" . }}

{{ template "role-mcgraw-hill-sde" . }}

{{- end }}
