{{ define "exp-wepay" -}}
### [WePay] — Redwood City, CA

> WePay is an online payment service provider which provides “payments for platforms”, where examples of platforms are GoFundMe, Care.com, and Xbox. JPMorgan Chase acquired WePay in October 2017.

{{ template "role-wepay-devops" . }}

{{ template "role-wepay-api" . }}

{{- end }}
