{{ template "name" . }}

{{ template "blurb" . }}

{{ template "links" . }}

{{ template "summary" . }}

{{ template "experience" . }}

{{ template "recommendations" . }}

{{ template "accomplishments" . }}

{{ template "education" . }}
