{{ define "recommendations" -}}
{{ if or .IsTPM -}}
<div class="page-break"></div>

{{ end -}}
## Recommendations

See a [selective list of recommendations](https://github.com/skyzyx/resume/blob/master/selected-recommendations.md) from co-workers and peers.
{{- end }}
