{{ define "role-wepay-api" -}}
#### Senior API Engineer (April 2014—April 2015)

* Led the company’s [HackerOne](https://www.hackerone.com) program, coordinating across teams to address security issues.

* Built a development environment for engineering teams. Reduced new engineer onboarding time from 2 weeks to 1 day.

* Expanded WePay’s payment security offerings by designing MFA-as-a-Service (U.S. patent filing [US15042104]).

{{- end }}
